{% extends 'base.html' %}
{% load static %}

{% block meta %}
{% include 'navbar.html' %}
<title>Palgop GamePass</title>
{% endblock meta %}

{% block bodytag %}class="bg-grey-900 text-white"{% endblock %}

{% block content %}
<div class="container mx-auto min-h-screen p-4">
    <div class="p-6 text-3xl font-bold text-right">
        <a class="text-purple-500 hover:text-purple-400 transition duration-300">Palgop <br>GamePass</a>
    </div>

    <span class="block text-cyan-400 px-3 py-2">Hello, {{ user.username }}</span>

    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mb-8">
        {% include "card_info.html" with title='NPM' value=npm %}
        {% include "card_info.html" with title='Name' value=name %}
        {% include "card_info.html" with title='Class' value=class %}
    </div>
    
    <div class="fixed bottom-4 left-4 bg-gray-800 rounded-lg shadow-lg p-3">
        <h2 class="text-sm font-semibold text-cyan-400">Last Login</h2>
        <p class="text-white">{{last_login}}</p>
    </div>

    <div class="flex justify-center mb-8">
        <a href="{% url 'main:create_product' %}" class="bg-purple-600 hover:bg-purple-700 text-white font-bold py-3 px-6 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
            Add New Product
        </a>
    </div>

    <div class="mb-8">
        {% if not product_entries %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6 bg-gray-800 rounded-lg">
            <p class="text-center text-gray-400 mt-4">No Products Available</p>
        </div>
        {% else %}
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 ">
                {% for product in product_entries %}
                {% include "card_product.html" with product=product %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    
</div>
{% endblock content %}